*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 1024px;
  color: #222;
  background: #fff;
}

.wrapper {
  margin: 16px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: pink;
  padding: 10px;
}

header h1 {
  margin: 0;
}

main {
  margin-top: 100px;
}

button {
  background: #27a;
  color: #fff;
  padding: 8px 16px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 6px;
  border: none;
}

fieldset {
  border-radius: 16px;
  border: 1px solid #9ab;
  background: #fff;
  padding: 16px;
}

fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #9ab;
}

.field + .field,
.field + button {
  margin-top: 12px;
}

.field input {
  font-family: sans-serif;
  font-size: 1em;
  padding: 8px;
  width: 100%;
  display: block;
  border: 1px solid #9ab;
  border-radius: 4px;
}

.field label {
  display: block;
}
